!!! 5
%html
  %head
    %meta{:charset=>"utf-8"}

    / Always force latest IE rendering engine or request Chrome Frame
    %meta{:content=>"IE=edge,chrome=1", 'http-equiv'=>"X-UA-Compatible"}

    %meta{:name => "viewport", :content => "width=1000,user-scalable=1"}

    %meta{:name => "keywords", :content => "青山敦,脳,神経科学,MEG,SFC,慶應"}

    %meta{:name => "description", :content => "青山敦研究室は、神経科学（脳科学）、生体信号処理 、異種感覚統合、特に脳機能計測と脳情報解析を専門とする慶應義塾大学 環境情報学部の研究室です。脳磁界計測法（MEG）、磁気共鳴画像法（MRI）、脳波（特にMEG）などを用いて、脳情報の計測と数理解析を行い、未知なるヒトの脳神経の活動を明らかにしています。更に、本研究室では脳情報通信や医療・福祉等への応用（脳工学）を目指していきます。"}

    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title + " | 青山敦研究室"

    = stylesheet_link_tag "normalize", "main"
    = javascript_include_tag  "jquery-2.0.3.min", "all"

  %body{:class=>"#{page_classes}"}
    %header
      = partial "layouts/header"
    = yield
    %footer
      = partial "layouts/footer"

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45573996-2', 'keio.ac.jp');
      ga('send', 'pageview');


