---
title: 研究室概要
---

%div#body

  %div.fade
    = image_tag "wall.jpg", :alt => "Brain", :width => "960px"
    = image_tag "wall2.jpg", :alt => "ORF2015", :width => "960px"
    = image_tag "wall3.jpg", :alt => "EEG", :width => "960px"
    = image_tag "wall4.jpg", :alt => "Printing the Brain", :width => "960px"
    = image_tag "wall5.jpg", :alt => "Neural Information Science", :width => "960px"

  %div.wrapper

    %div#sidemenu
      = partial "layouts/sidemenu", locals: {side_content: data.nav.side['index']}

    %main
      %h2 青山敦研究室とは
      %section#about
        %h3 研究概要

        %p
          青山敦研究室は、神経科学（脳科学）、生体信号処理 、異種感覚統合、特に脳機能計測と脳情報解析を専門とする慶應義塾大学 環境情報学部の研究室です。脳磁界計測法（MEG）、磁気共鳴画像法（MRI）、脳波（特にMEG）などを用いて、脳情報の計測と数理解析を行い、未知なるヒトの脳神経の活動を明らかにしています。更に、本研究室では脳情報通信や医療・福祉等への応用（脳工学）を目指していきます。

      %section#news
        %h3 News(新着情報)

        %dl.news
          %dt 2015.12.19
          %dd
            湘南T-SITE SURUGA d-labo.にて、
            = link_to "http://www.d-laboweb.jp/event/15121901.html", target: "_blank" do
              Shonan Brain Fair 2015~脳情報研究のポスター発表会~
            を行いました。

          %dt 2015.7.9
          %dd
            = link_to "https://twitter.com/sfcaoyamalab", target: "_blank" do
              Twitter @sfcaoyamalab
            を始めました。

          %dt 2013.11.22
          %dd
            = link_to "http://orf.sfc.keio.ac.jp", target: "_blank" do
              慶應義塾大学 SFC Open Research Forum 2013
            で研究発表を行いました。

          %dt 2013.11.12
          %dd
            Yahoo! JAPANが主催している「
            = link_to "http://u.yhacks.jp/sfc2013/", target: "_blank" do
              Hack U at SFC
            」にて、本研究室所属の宇野 優君と上野 太郎君がSFC賞を受賞しました。

          %dt 2013.11.11
          %dd
            = link_to "http://web.keio.jp/~brain/printingthebrain/", target: "_blank" do
              脳の3DプリントプロジェクトPrinting the Brainのサイト
            を公開しました。

          %dt 2013.11.01
          %dd
            = link_to "http://www.sfc.keio.ac.jp/introducing_labs/20131101.html", target: "_blank" do
              SFCの現場

            に本研究室の紹介が掲載されました。

