---
title: 研究室概要
---

%div#body

  .wall-img= image_tag "wall.jpg", :alt => "Neural Information Science", :width => "960px"

  %div.wrapper

    %div#sidemenu
      = partial "layouts/sidemenu", locals: {side_content: data.nav.side['index']}

    %main
      %h2 青山敦研究室とは
      %section#about
        %h3 研究概要

        %p
          青山敦研究室は、神経科学（脳科学）、生体信号処理 、異種感覚統合、特に脳機能計測と脳情報解析を専門とする慶應義塾大学 環境情報学部の研究室です。脳磁界計測法（MEG）、磁気共鳴画像法（MRI）、脳波（特にMEG）などを用いて、脳情報の計測と数理解析を行い、未知なるヒトの脳神経の活動を明らかにしています。更に、本研究室では脳情報通信や医療・福祉等への応用（脳工学）を目指していきます。

      %section#news
        %h3 News(新着情報)

        %dl.news
          %dt 2013.11.22
          %dd= link_to("慶應義塾大学 SFC Open Research Forum 2013", "http://orf.sfc.keio.ac.jp", target: "_blank") + "で研究発表を行いました。 "

          %dt 2013.11.11
          %dd= link_to("脳の3DプリントプロジェクトPrinting the Brainのサイト", "http://web.keio.jp/~brain/printingthebrain/", target: "_blank") + "を公開しました。"

          %dt 2013.11.01
          %dd= link_to("SFCの現場", "http://www.sfc.keio.ac.jp/introducing_labs/20131101.html", target: "_blank") + "に本研究室の紹介が掲載されました。"

